<section  class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Linkler</h3>
            <a href="anasayfa.html"> <i class="fas fa-arrow-right" ></i>Anasayfa </a>
            <a href="#"> <i class="fas fa-arrow-right"></i>Hakkımızda </a>
            <a href="#"> <i class="fas fa-arrow-right"></i>Gizlilik Politikası </a>
            <a href="#"> <i class="fas fa-arrow-right"></i>Ödeme Yöntemleri </a>
        </div>

        <div class="box">
            <h3>Mobil uygulamalar</h3>
            <a href="#"> <i class=""></i> <img src="img/Google_Play.png" height="40px" width="130px" ></a>
            <a href="#"> <i class=""></i> <img src="img/appstore.png" height="40px" width="130px" ></a>

        </div>

        <div class="box">
            <h3>İletişim Bilgileri</h3>
            <a href="#"> <i class="fas fa-phone"></i>+90 0(500) 000 00 00 </a>
            <a href="#"> <i class="fas fa-envelope"></i> marka@gmail.com </a>
        </div>
        
    </div>

    <div class="share">
        <a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a>
        <a href="https://twitter.com/"target="_blank" class="fab fa-twitter"></a>
        <a href="https://instagram.com/fatmanurrgulen?igshid=YmMyMTA2M2Y=" target="_blank" class="fab fa-instagram"></a>
        <a href="https://www.linkedin.com/" target="_blank" class="fab fa-linkedin"></a>
    </div>

    <div class="credit"> <span>Marka</span> tarafından oluşturuldu. | Tüm Hakları Saklıdır! </div>

</section>

<!-- footer section ends -->

        <script src="script.js"></script>
    </body>
</html>
